// widget
@import './widget/cp-input';
@import './widget/cp-loading';
@import './widget/swiper';
@import './widget/cell';
@import './widget/tabbar';
@import './widget/navbar';
@import './widget/betslip-checker';
@import './widget/button';

.setting-wrapper {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: $body_bg_color;
}
.setting-wrapper__index {
  margin-top: px2Rem(90px);
}