

// body 
$body_bg_color: rgb(241, 243, 248);
$body_color: #666;

//字体颜色
$primary_font_color: #7b73be;
$active_font_color: #453880;
$money_active_ft_color: #eb6877;

// 背景颜色
$primary_bg_color: #7b73be;
$primary_active_bg_color: #453880;

// header
$header_bg_color: #363342;
// login

$login_icon_color: rgba(0,0,0,1);

// input
$input_color: rgba(0,0,0,1);
$input_bgColor: #fff;
$input_border_color: #ddd;

// button
$default_btn_bgcolor: #fff;
$default_btn_color: #2e2e3a;
$default_btn_bgcolor_hover: rgba(255, 255, 255, .8);
$active_primary_btn_color: rgba(255, 255, 255, .6);
$active_primary_btn_bgcolor: rgb(82, 167, 81);
$success_btn_bg_color: #eb6877;
$primary_btn_bg_color: #453880;
// a
$default_a_color: #999;

// tabbar 
$tabbar_bg_color: #302d3d;
$tabbar_color: #c0c3eb;

// notify
$notify_font_color: #666;

//home menu
$home_menu_font_color: #453880;

//cell
$cell_font_color: #333;

// user
$userinfo_border_color: #25252e;
$userstatus_font_color: #b5b2ff;
$username_font_color: #fff;
$userinfo_default_ft_color: #333;
$usermoney_ba_bg_color: #619bae;
$usermoney_ba_deep_bg_color: #6ea8bb;
$usermoney_ba_deep_active_bg_color: rgba(110, 168, 187, .8);
$usermoney_with_bg_color: #7b73be;
$usermoney_with_deep_bg_color: #8880cb;
$usermoney_with_deep_active_bg_color: rgba(136, 128, 203, 0.8);

// lottery
$lottery_default_ft_color: #333;
$lottery_round_ft_color: #888;
$lottery_date_color: #666;
$lottery_numer_color: #999;

// find
$dis_title_color: #453880;
$dis_date_color: #999;
$dis_caption_color: #666;
$level_money_color: #eb6877;

//money
$money_font_color: #619bae;
$money_tab_ft_color: #b5b2ff;
$money_tab_active_ft_color: #fff;
$banks_ft_color: #000;

//login
$login_bg_color: #fff;

// ball
$ball_number_1: #aaa;
$ball_number_big_color: #7b73be;
$ball_number_sm_color: #619bae;
$ball_number_single: #666;
$ball_number_bgColor_1: #e6b525;
$ball_number_bgColor_2: #008fff;
$ball_number_bgColor_3: #4b4b4b;
$ball_number_bgColor_4: #ff7600;
$ball_number_bgColor_5: #65a9aa;
$ball_number_bgColor_6: #5234ff;
$ball_number_bgColor_7: #b0b0b0;
$ball_number_bgColor_8: #ff2600;
$ball_number_bgColor_9: #730b00;
$ball_number_bgColor_result: #eb6877;
$ball_number_bgColor_10: rgb(6, 191, 1);

// popup
$popup_bg_color: rgb(45, 46, 58);
$popup_default_ft_color: #fff;
$popup_active_ft_color: #b5b2ff;

// bet
$bet_head_bgColor: #fff;
$bet_round_ft_color: #333;
$bet_default_ft_color: #999;
$bet_odds_Ft_color: #666;
$bet_tab_bgColor: #453880;
$bet_tab_active_bgColor: #60569f;
$bet_odds_active_bgColor: #453880; 
$bet_title_bgColor: #e6e7f5;


// cart
$cart_bar_bg_color: #505050;
$cart_ft_color: #999;
$cart_bg_color: #666;
$cart_body_bg_color: #fff;
$cart_active_bg_color: #2e2e3a;

// betRecord
$betRecord_un_color: #f39700;
$betRecord_se_win_color: #619bae; 
$betRecord_se_low_color: #eb6877; 
$betRecord_se_date_color: #7b73be;
$betRecord_se_title_color: #999;
$betRecord_se_default_color: #333;
$betRecord_se_lgtitle_color: #666;


// win
$win_default_color: #666;
$win_title_color: #333;
$win_awt_color: #7b73be;
$win_bet_color: #619bae;
$win_result_color: #453880;