// font-family
$cpFontEN:-apple-system-font,"Helvetica Neue";
$cpFontCN:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
$cpFontSans:sans-serif;
$cpFontDefault:$cpFontEN,$cpFontCN,$cpFontSans;

// font-size
$defaultFont: 20px;

$body_font: 24px;
$a_font: 28px;
$h1_font: 40px;
$h2_font: 36px;

// cell-icon-font

$cell_icon_font: 20px;


